<a href="https://colab.research.google.com/github/OneLearn-github/Introductory_Data_Analytics_Course/blob/main/basic_python_revision/Advanced_Print_Formatting.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

**No.1** <br>
Take a list, say for example this one:

  a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

and write a program that prints out all the elements of the list that are less than 5.

**No. 2**<br>
Given a user input integer number. Print the multiplication table for the integer number upto 10 and also print the exponent table uptil 5.

For eg. For 5 the output would be as shown below:

The multiplication table of 5<br>
5 x 1 = 5<br>
5 x 2 = 10<br>
5 x 3 = 15<br>
5 x 4 = 20<br>
5 x 5 = 25<br>
5 x 6 = 30<br>
5 x 7 = 35<br>
5 x 8 = 40<br>
5 x 9 = 45<br>
5 x 10 = 50<br>
The exponent table of 5<br>
5 ^ 1 = 5<br>
5 ^ 2 = 25<br>
5 ^ 3 = 125<br>
5 ^ 4 = 625<br>
5 ^ 5 = 3125<br>

**No 3**<br>
Given a dictionary in Python, write a Python program to find the sum of all Items in the dictionary.

Examples:

Input : {'a': 100, 'b':200, 'c':300}<br>
Output : 600

Input : {'x': 25, 'y':18, 'z':45}<br>
Output : 88

In [ ]:
# example dictionary
exp_dict = {'a':90,'x':10,'c':45}
#write your answer

**No 4.**<br>
Take the user input of names of 2 persons in the following four variables.<br>
First_Name_Person_1 (first name of 1st person)<br>
Last_Name_Person_1 (last name of 1st person)<br>
First_Name_Person_2 (first name of 2nd person)<br>
Last_Name_Person_2 (last name of 2nd person)<br>

Print the full names of person in one line as follows (if first name person 1 = 'Giri', second name person 1 = 'Shesha':<br>
Name of Person 1 is Giri Shesha

After printing the full names, check if the two names are same or not. <br>
If it is same print the statement - "SAME NAME = True"<br>
If it is different print the statement - "SAME NAME = False"

**No 5**<br>
Take the marks of students in English, Maths and Science as input from them. Then based on below logic print the following lines:<br>
if he has passed - print line would be - "PASSED = True"<br>
if he has failed - print line would be - "PASSED = False"<br>

The student will pass when he has got more than 50 marks in each of the subjects viz. English, Maths and Science. ==