<a href="https://colab.research.google.com/drive/1zhnj99B5BgLP1dcM1JNEwXnpcdlG_omI?usp=sharing">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

This tutorial needs data so if you are working on colab follow the below data setup instruction

# Data Setup Instructions

These are the instructions for mounting the data from google drive to colab and accessing it in the colab.

STEP 1 - After opening the tutorial in  your colab, go to folder button and click on mount google drive

STEP 2 - drive folder will be mounted in the current directory of /content, you can access it as below

In [1]:
# print current directory
%pwd

'/content'

In [2]:
%ls

drive/  sample_data/

STEP 3 - Find your data folder where you saved the data and sym link it to /content folder so as to simplify data access

In the current case the Data folder is located at this path in google drive (Use your own data path in your case)

/content/drive/Othercomputers/My MacBook Pro/Data/

We can sym link it to /content folder using the following command

In [3]:
# sym linked the original data folder to new location at /content
!ln -s "/content/drive/Othercomputers/My MacBook Pro/Data" "/content"

Now we can access the data from this folder by simply giving the file path name after /Data

# Importing pandas library and data loading

In [4]:
import pandas as pd

In the last lesson we have saved the cleaned dataframe at the end in the file 

'movies_cleaned_lesson1.csv'.

You can read this file in the below way (the path is taken from the previous lesson)

In [5]:
# if you are working with this tutorial on local machine use the file path where the data is saved in your computer
movies = pd.read_csv("Data/IMDB_rotten_tomato_dataset/IMDB/cleaned_files/movies_cleaned_lesson1.csv")
# We can use .head command to quickly observe the first 5 rows of the dataset
movies.head()

  imdb_title_id               original_title  ...  worldwide_gross_income metascore
0     tt0000009                   Miss Jerry  ...                     NaN       NaN
1     tt0000574  The Story of the Kelly Gang  ...                     NaN       NaN
2     tt0001892               Den sorte drøm  ...                     NaN       NaN
3     tt0002101                    Cleopatra  ...                     NaN       NaN
4     tt0002130                    L'Inferno  ...                     NaN       NaN

[5 rows x 14 columns]

### Feature Engineering - Using apply function

It can be helpful for our analysis if we know how old is the movie.

We can know it using the year column and subtracting it with current year.

But we need to create a new column called movie_age which would contain this information

We will use a new function in pandas called .apply.

For using it we need to first define a function for getting the movie age as shown below

In [6]:
def movie_age(year):
    return 2021-year

The below apply function applies movie_age function to every row of the dataframe movies in order to create a new column called movies_age.

We will need to use lambda function inside apply function in order to create the new column 'movie_age'

In [7]:
movies['movie_age'] = movies.apply(lambda row:movie_age(row['year']),axis=1)

In [8]:
# movies_age column is visible at the end
movies

      imdb_title_id                  original_title  ...  metascore movie_age
0         tt0000009                      Miss Jerry  ...        NaN       127
1         tt0000574     The Story of the Kelly Gang  ...        NaN       115
2         tt0001892                  Den sorte drøm  ...        NaN       110
3         tt0002101                       Cleopatra  ...        NaN       109
4         tt0002130                       L'Inferno  ...        NaN       110
...             ...                             ...  ...        ...       ...
85849     tt9908390                         Le lion  ...        NaN         1
85850     tt9911196  De Beentjes van Sint-Hildegard  ...        NaN         1
85851     tt9911774       Padmavyuhathile Abhimanyu  ...        NaN         2
85852     tt9914286               Sokagin Çocuklari  ...        NaN         2
85853     tt9914942      La vida sense la Sara Amat  ...        NaN         2

[85854 rows x 15 columns]

# Saving the cleaned data

We will save the modified dataframe 'movies' in a new file called 

'movies_cleaned_lesson2.csv'

in the folder cleaned_files.

Final path of the saved file would be - 'Data/IMDB_rotten_tomato_dataset/IMDB/cleaned_files/movies_cleaned_lesson2.csv'

In [9]:
# don't forget to put index = false while saving the data frame in a csv file
movies.to_csv('Data/IMDB_rotten_tomato_dataset/IMDB/cleaned_files/movies_cleaned_lesson2.csv', index = False)

We will use this file in the next lesson of Data Cleaning.