<a href="https://colab.research.google.com/drive/1v9hfo8bGRn52tLt37ZzdDhxneAIKSMEy?usp=sharing">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

This assignment needs data so if you working on colab follow the below data setup instruction

# Data Setup Instructions

These are the instructions for mounting the data from google drive to colab and accessing it in the colab.

STEP 1 - After opening the tutorial in  your colab, go to folder button and click on mount google drive

STEP 2 - drive folder will be mounted in the current directory of /content, you can access it as below

In [ ]:
# print current directory
%pwd

'/content'

In [ ]:
%ls

drive/  sample_data/

STEP 3 - Find your data folder where you saved the data and sym link it to /content folder so as to simplify data access

In the current case the Data folder is located at this path in google drive (Use your own data path in your case)

/content/drive/Othercomputers/My MacBook Pro/Data/

We can sym link it to /content folder using the following command

In [ ]:
# sym linked the original data folder to new location at /content
!ln -s "/content/drive/Othercomputers/My MacBook Pro/Data" "/content"

Now we can access the data from this folder by simply giving the file path name after /Data

# **Import pandas and loading cleaned IMDB data and rotten tomato movies data**

In [ ]:
import pandas as pd

We will load the 

1. movies_cleaned.csv file (this is the cleaned IMDB data file)

2. rotten_tomato_movies.csv file (this is the rotten tomato file with movies and tomatometer rating data)

In [ ]:
imdb_data = pd.read_csv("Data/IMDB_rotten_tomato_dataset/IMDB/movies_cleaned.csv")

rotten_tomato_data = pd.read_csv("Data/IMDB_rotten_tomato_dataset/rotten_tomatoes/rotten_tomatoes_movies.csv")

In this lesson we will clean up rotten tomato dataset and then finally combine it with IMDB dataset. The final combined dataset will be used for our final project analysis.

# **Cleaning the rotten tomato dataset**

In [ ]:
rotten_tomato_data.head(10)

                    rotten_tomatoes_link  ... tomatometer_rotten_critics_count
0                              m/0814255  ...                               76
1                              m/0878835  ...                               19
2                                   m/10  ...                                8
3                 m/1000013-12_angry_men  ...                                0
4  m/1000079-20000_leagues_under_the_sea  ...                                3
5                             m/10000_bc  ...                              137
6                     m/1000121-39_steps  ...                                2
7                  m/1000123-310_to_yuma  ...                                1
8                      m/10002008-charly  ...                                8
9              m/1000204-abraham_lincoln  ...                                2

[10 rows x 22 columns]

In [ ]:
rotten_tomato_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   movie_title                       17712 non-null  object
 2   movie_info                        17391 non-null  object
 3   critics_consensus                 9134 non-null   object
 4   content_rating                    17712 non-null  object
 5   genres                            17693 non-null  object
 6   directors                         17518 non-null  object
 7   authors                           16170 non-null  object
 8   actors                            17360 non-null  object
 9   original_release_date             16546 non-null  object
 10  streaming_release_date            17328 non-null  object
 11  runtime                           17398 non-null  float64
 12  production_company                17213 non-null  object
 13  tomatometer_status                17668 non-null  object
 14  tomatometer_rating                17668 non-null  float64
 15  tomatometer_count                 17668 non-null  float64
 16  audience_status                   17264 non-null  object
 17  audience_rating                   17416 non-null  float64
 18  audience_count                    17415 non-null  float64
 19  tomatometer_top_critics_count     17712 non-null  int64
 20  tomatometer_fresh_critics_count   17712 non-null  int64
 21  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 3.0+ MB

Select movie_title, original_release_date and tomatometer_rating column

In [ ]:
rotten_tomato_data = rotten_tomato_data[['movie_title','original_release_date','tomatometer_rating']]

In [ ]:
rotten_tomato_data

                                             movie_title  ... tomatometer_rating
0      Percy Jackson & the Olympians: The Lightning T...  ...               49.0
1                                            Please Give  ...               87.0
2                                                     10  ...               67.0
3                        12 Angry Men (Twelve Angry Men)  ...              100.0
4                           20,000 Leagues Under The Sea  ...               89.0
...                                                  ...  ...                ...
17707                                          Zoot Suit  ...               56.0
17708                                           Zootopia  ...               98.0
17709                                    Zorba the Greek  ...               80.0
17710                                               Zulu  ...               96.0
17711                                          Zulu Dawn  ...               50.0

[17712 rows x 3 columns]

Remove rows which has null values for original_release_date

In [ ]:
rotten_tomato_data = rotten_tomato_data[rotten_tomato_data['original_release_date'].notnull()].copy()

Create a year column out original_release_date column and then drop original_release_date column

In [ ]:
def get_year(release_date):
  year = release_date.split('-')[0]
  return year

rotten_tomato_data['year'] = rotten_tomato_data.apply(lambda row:get_year(row['original_release_date']),axis=1)

In [ ]:
rotten_tomato_data.drop(['original_release_date'],axis=1,inplace=True)

rotten_tomato_data

                                             movie_title  ...  year
0      Percy Jackson & the Olympians: The Lightning T...  ...  2010
1                                            Please Give  ...  2010
2                                                     10  ...  1979
3                        12 Angry Men (Twelve Angry Men)  ...  1957
4                           20,000 Leagues Under The Sea  ...  1954
...                                                  ...  ...   ...
17707                                          Zoot Suit  ...  1981
17708                                           Zootopia  ...  2016
17709                                    Zorba the Greek  ...  1964
17710                                               Zulu  ...  1964
17711                                          Zulu Dawn  ...  1979

[16546 rows x 3 columns]

# **Combining the dataset**

In [ ]:
imdb_data

      imdb_title_id                  original_title  ...  metascore movie_age
0         tt0000009                      Miss Jerry  ...        NaN       127
1         tt0000574     The Story of the Kelly Gang  ...        NaN       115
2         tt0001892                  Den sorte drøm  ...        NaN       110
3         tt0002101                       Cleopatra  ...        NaN       109
4         tt0002130                       L'Inferno  ...        NaN       110
...             ...                             ...  ...        ...       ...
85849     tt9908390                         Le lion  ...        NaN         1
85850     tt9911196  De Beentjes van Sint-Hildegard  ...        NaN         1
85851     tt9911774       Padmavyuhathile Abhimanyu  ...        NaN         2
85852     tt9914286               Sokagin Çocuklari  ...        NaN         2
85853     tt9914942      La vida sense la Sara Amat  ...        NaN         2

[85854 rows x 15 columns]

Renaming movie_title column to original_title in rotten_tomato_data dataframe so as to join on same column name

Also convert the datatype of year column

In [ ]:
rotten_tomato_data.rename({'movie_title':'original_title'},axis=1,inplace=True)

rotten_tomato_data

                                          original_title  ...  year
0      Percy Jackson & the Olympians: The Lightning T...  ...  2010
1                                            Please Give  ...  2010
2                                                     10  ...  1979
3                        12 Angry Men (Twelve Angry Men)  ...  1957
4                           20,000 Leagues Under The Sea  ...  1954
...                                                  ...  ...   ...
17707                                          Zoot Suit  ...  1981
17708                                           Zootopia  ...  2016
17709                                    Zorba the Greek  ...  1964
17710                                               Zulu  ...  1964
17711                                          Zulu Dawn  ...  1979

[16546 rows x 3 columns]

In [ ]:
rotten_tomato_data['year'] = rotten_tomato_data['year'].astype(int)

We will be joining on two columns viz. original_title and year.

Joining just on original_title column leads to wrong type of join because there are several movies with same names released in multiple years. So for these movies the data is not joined properly.

In [ ]:
combined_data = pd.merge(imdb_data,rotten_tomato_data,on=['original_title','year'])

combined_data

     imdb_title_id             original_title  ...  movie_age tomatometer_rating
0        tt0003740                    Cabiria  ...        107               96.0
1        tt0004972      The Birth of a Nation  ...        106               93.0
2        tt0005339           A Fool There Was  ...        106               83.0
3        tt0011439          The Mark of Zorro  ...        101               88.0
4        tt0011652                The Saphead  ...        101               50.0
...            ...                        ...  ...        ...                ...
9118     tt9426974                    Patrick  ...          2               38.0
9119     tt9477532                      Greta  ...          2               60.0
9120     tt9686708  The King of Staten Island  ...          1               74.0
9121     tt9779516            I Still Believe  ...          1               51.0
9122     tt9815998                 Hooking Up  ...          1               30.0

[9123 rows x 16 columns]

In the joined dataframe we have got the tomatometer rating column at the last from rotten_tomato_data.

# **Cleaning up the combined data**

Clean up the unnecessary columns

In [ ]:
combined_data.drop(['imdb_title_id','date_published','votes','budget','usa_gross_income',\
               'metascore','movie_age'],axis=1,inplace=True)

combined_data

                 original_title  ...  tomatometer_rating
0                       Cabiria  ...                96.0
1         The Birth of a Nation  ...                93.0
2              A Fool There Was  ...                83.0
3             The Mark of Zorro  ...                88.0
4                   The Saphead  ...                50.0
...                         ...  ...                 ...
9118                    Patrick  ...                38.0
9119                      Greta  ...                60.0
9120  The King of Staten Island  ...                74.0
9121            I Still Believe  ...                51.0
9122                 Hooking Up  ...                30.0

[9123 rows x 9 columns]

Cleaning up the worldwide_gross_income column

In [ ]:
combined_data = combined_data.loc[combined_data['worldwide_gross_income'].str.startswith('$',na=False)].copy()

In [ ]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7148 entries, 6 to 9121
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   original_title          7148 non-null   object
 1   year                    7148 non-null   int64
 2   genre                   7148 non-null   object
 3   duration                7148 non-null   int64
 4   country                 7148 non-null   object
 5   language                7142 non-null   object
 6   imdb_score              7148 non-null   float64
 7   worldwide_gross_income  7148 non-null   object
 8   tomatometer_rating      7143 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 558.4+ KB

In [ ]:
def remove_dollar_sign(income):
  return int(income.replace('$','').strip())

In [ ]:
combined_data['worldwide_gross_income'] = combined_data.apply(lambda row: remove_dollar_sign(row['worldwide_gross_income']),axis=1)

In [ ]:
combined_data['worldwide_gross_income'] = combined_data['worldwide_gross_income'].astype(int)

In [ ]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7148 entries, 6 to 9121
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   original_title          7148 non-null   object
 1   year                    7148 non-null   int64
 2   genre                   7148 non-null   object
 3   duration                7148 non-null   int64
 4   country                 7148 non-null   object
 5   language                7142 non-null   object
 6   imdb_score              7148 non-null   float64
 7   worldwide_gross_income  7148 non-null   int64
 8   tomatometer_rating      7143 non-null   float64
dtypes: float64(2), int64(3), object(4)
memory usage: 558.4+ KB

We need to scale worldwide_gross_income by dividing it with 1000000 so that we can work with this column easily.

We also need to scale imdb_score column by multiplying it with 10 so that we can compare the IMDB ratings with tomatometer ratings easily.

In [ ]:
combined_data['worldwide_gross_income'] = combined_data['worldwide_gross_income']/1000000
combined_data['imdb_score'] = combined_data['imdb_score']*10

In [ ]:
combined_data

                         original_title  ...  tomatometer_rating
6                               The Kid  ...               100.0
14    A Woman of Paris: A Drama of Fate  ...                92.0
20                        The Gold Rush  ...               100.0
25                           Metropolis  ...                97.0
31        Sunrise: A Song of Two Humans  ...                98.0
...                                 ...  ...                 ...
9113               The Sound of Silence  ...                65.0
9114                               Jexi  ...                17.0
9115             The Death of Dick Long  ...                75.0
9120          The King of Staten Island  ...                74.0
9121                    I Still Believe  ...                51.0

[7148 rows x 9 columns]

# **Saving the combined data**

We will save the final combined file in the csv file called 'combined_final_data.csv'

In [ ]:
combined_data.to_csv('Data/IMDB_rotten_tomato_dataset/combined_final_data.csv',index=False)

This is the file which we will use for our final project analysis.